{% load static %}
<!DOCTYPE html>
    <html lang="en">
    <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>Base Template</title>
        {% include 'base/css.html' %}
        {% block base_head %}{% endblock %}
    </head>
    <body>
      {% include 'base/navbar.html' with brand_name='eCommerce' %}
      <div class='container'>
        {% if messages %}
      <div class="alert alert-success messages">
          {% for message in messages %}
          <span{% if message.tags %} class="{{ message.tags }}"{% endif %}>
              {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
              {{ message }}<br/>
          </span>
          {% endfor %}
      </div>
      {% endif %}
      {% block content %}{% endblock %}
    </div>

        {% include 'base/js.html' %}
        {% block javascript %}

        {% endblock %}
    </body>
  </html>

            <script>
                 $('.carousel').carousel({
                interval: 3000
                })

            </script>


        <!--<script>-->
            <!--$(document).ready(function(){-->
                <!--var productForm = $(".form-product-ajax")-->

                <!--productForm.submit(function(event){-->
                    <!--event.preventDefault();-->
                    <!--console.log("Form is not sending")-->


                <!--})-->
            <!--})-->
        <!--</script>-->

